html, body{
    font-size: 20px;
}
.recipes{
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
}

.recipes > section{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1rem 2rem;
}